/* Ini File CSS */

*,
html,
body {
  margin: 3px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lavender;
}

.logo-icon {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-image: url(https://picsum.photos/100);
  background-size: cover;
  margin-left: 5px;
}

nav {
  display: flex;
  margin-right: 5px;
}

#home-page {
  background-color: aqua;
  font-style: italic;
  font-family: system-ui;
  text-align: left;
  margin: 10px 0 10px 0;
  padding: 10px 10px 10px 10px;
}

.left-rounded {
  border-radius: 12px 0 0 12px;
  background-color: red;
}

.second-rounded {
  border-radius: 0;
  background-color: blue;
}

.third-rounded {
  border-radius: 0;
  background-color: green;
}

.right-rounded {
  border-radius: 0 12px 12px 0;
  background-color: purple;
}

nav > a {
  border: 3px solid black;
  padding: 8px;
  color: white;
  text-decoration: none;
  border-color: black;
}

.banner-image {
  height: 450px;
  background-size: cover;
  background-position: center;
  margin: 30px 0 30px 0;
}

.banner-image-1 {
  background-image: url(https://picsum.photos/500);
}

.banner-image-2 {
  background-image: url(https://picsum.photos/501);
}

.banner-image-3 {
  background-image: url(https://picsum.photos/502);
}

.banner-image-4 {
  background-image: url(https://picsum.photos/503);
}

.banner-image-5 {
  background-image: url(https://picsum.photos/504);
}

.content {
  /* optional */
  height: 800px;
  background: lightsteelblue;
  margin-bottom: 30px;
}

#our-profile {
  background-color: blue;
  text-align: flex-start;
  padding-left: 5px;
}

#portfolio {
  background-color: green;
  text-align: flex-start;
  padding-left: 5px;
}

#message-us {
  background-color: purple;
  text-align: flex-start;
  padding-left: 5px;
}

form {
  width: 600px;
  padding: 20px;
}

form div {
  margin: 5px 10px 5px 10px;
}

textarea {
  width: 100%;
  height: 100px;
}

label {
  display: block;
}

footer {
  text-align: center;
  background-color: darkblue;
  color: white;
}

footer p {
  display: inline;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }

  .main-header {
    flex-direction: column;
  }

  .logo-icon {
    height: 30px;
    width: 30px;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  nav {
    display: grid;
  }

  nav > a {
    border: 1px solid palevioletred;
    padding: 5px;
    color: black;
    text-decoration: none;
    border-color: white;
    margin: 0.5px;
    text-align: center;
  }

  .left-rounded,
  .second-rounded,
  .third-rounded,
  .right-rounded {
    border-radius: 12px;
  }

  .banner-image {
    height: 300px;
    margin: 15px 0 15px 0;
  }

  .content {
    height: 400px;
    margin-bottom: 15px;
  }

  #home-page,
  #our-profile,
  #portfolio,
  #message-us {
    padding: 5px;
    margin: 0;
    text-align: center;
    background-color: lightsalmon;
  }
}
